*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
@font-face{
	font-family: Dancing;
	src: url(../fonts/DancingScript-Bold.ttf);
}
#contenedor{
	background-color: rgba(250, 252, 230, 1);
	padding-bottom: 20px;
}
nav{
	background-color: rgba(0,0,0,0.7);
	padding: 10px 0 10px 0;
}
nav ul{
	display: flex;
	flex-direction: row;
}
nav li{
	list-style: none;
	margin: 10px;
}
nav li::after{
	content: " | ";
}
a{
	text-decoration: none;
	color: white;

}
header{
	position: relative;
}
#entrada{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}
img{
	/*Hay que recortar un poco la imagen*/
	width: 100%;
}
h1{
	font-size: 8em;
	font-family: Dancing;
	-webkit-text-stroke: 1px lightpink;
	color: white;
	text-shadow: 1px 1px black;
	letter-spacing: 10px;
}
section{


}
h3{
	width: 100%;
	text-align: center;
	padding: 30px 0 10px 0;
}
article{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.tarjeta{
	width: 30%;
	height: 150px;
	box-shadow: 5px 5px 5px grey;
	background-color: white;
	margin: 5px;
	position: relative;
}
#direccion{
	margin-top: 20px;
	text-align: center;
	font-size: 0.9em;
}

.datos{
	display:none;
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height: 100%;
	background-color: rgba(0,0,0,.8);
}
/* Traduccion */
#Idiomas{
	display: flex;
	flex-direction: row-reverse;
	align-self: center;
	margin-right: 1em;
}
.banderas{
	
	width: 0.2em;
	height: 0.5em;
}


/* Estilos y flex para añadir nuevo producto */
.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px;
}

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

.flex-inner li {
  width: 100px;
}

.flex-inner {
  justify-content: space-between;
}

